@import "../../styles/mixins";

.user-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 17px 29px 19px 29px;

  &:hover {
    background-color: #efeff6;
  }

  &__info-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5px 0;
  }

  &__name {
    font-size: 18px;
    color: #424f5e;
  }

  &__email {
    font-size: 18px;
    color: #9494a0;
    margin-left: 7px;
  }

  &__info {
    display: flex;
  }

  &__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 11px;
    object-fit: cover;
  }

  &__list-permissions {
    display: flex;
    flex-wrap: wrap;

    @include large {
      margin-top: 5px;
    }
  }

  &__permission {
    list-style: none;
    padding: 5px 10px;
    color: #9494a0;
    border: 1px solid #c1c1cb;
    border-radius: 10px;
    font-size: 16px;

    &_special {
      border-color: #5a57ff;
      color: #5a57ff;
    }

    &:nth-last-child(n + 2) {
      margin-right: 5px;
    }

    @include large {
      margin-bottom: 5px;
    }
  }

  &__functional-panel-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  &__functional-panel-btn {
    width: 20px;
    height: 4px;
    background-image: url("../../assets/images/circles.svg");
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__functional-panel {
    background-color: #f9fafb;
    display: none;
    position: absolute;
    left: -100px;
    top: 20px;
    padding: 22px 30px 27px 26px;
    border-radius: 10px;
    width: 238px;

    &_open {
      display: flex;
      flex-direction: column;
      z-index: 99;
    }

    @include large {
      left: -210px;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #424f5e;
    cursor: pointer;

    &:nth-child(1),
    &:nth-child(3) {
      margin-bottom: 17px;
    }

    &:hover {
      color: #9494a0;
    }
  }

  &__modal {
    width: 520px;
    max-height: 450px;
    padding: 40px 58px 43px 64px;
    border-radius: 10px;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  &__modal-title {
    font-size: 22px;
    color: #424f5e;
    margin-bottom: 17px;
    font-weight: bold;
    text-align: center;
  }

  &__modal-btn {
    width: 100%;
    padding: 21px 0 20px 0;
    font-size: 20px;
    background-color: #32c076;
    color: #fff;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__check-list-container {
    background-color: #f9fafb;
    border-radius: 15px;
    padding: 15px;
  }

  &__modal-input {
    border: 1px solid #c1c1cb;
    outline: none;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: #f9fafb;
    margin-bottom: 8px;
  }

  &__permissions-modal {
    margin-bottom: 8px;
    width: 100%;
  }
}
